body,html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('images/haunted.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.outter{
    width: 700px;
    height: auto;
    margin: 50px auto;
}
.container{
    width: 700px;
    height: 522px;
    position: relative;
    background-image: url('images/castleback.png');
}
.character{
    position: absolute;
    height: 200px;
    left: 250px;
    bottom: 100px;
}
.buttonbox{
    width: calc(100% - 30px);
    background-color: rgba(0,0,0, 0.8);
    color: #FFFFFF;
    padding: 15px;
    margin-top: 15px;
    border-radius: 3px;
    height: 50px;
    display: flex;
    align-items: center;
}
.mybtn{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid #FFFFFF;
    margin-right: 10px;
    border-radius: 3px;
}
.conttop{
    display: flex;
    justify-content: space-between;
}
#cname{
    background-color: #000000;
    color: #FFFFFF;
    width: 100px;
    padding: 10px;
}
#chealthbox{
    background-color: #FFFFFF;
    height: 100%;
}
.rightstats{
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.cstatbox{
    border: 2px solid #FFFFFF;
    padding: 2px;
    height: 15px;
    width: 100px;
    margin: 5px;
}
