body {
    padding: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.grid-row {
    display: flex;
}

.square {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    margin: 2px;
}